.home-header-container {
  height: 60px;
  width: 100%;
  .home-header-content {
    padding: 0 30px;
    width: 100%;
    height: 100%;
    display: flex;
    .left-content {
      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }
      width: 25%;
      display: flex;
      align-items: center;
      .header-logo {
        background: url("../../assets/bookingcare-2020.svg") center center
          no-repeat;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }
    .center-content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .child-content {
        .subs-title {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .right-content {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      .support {
        margin: 0 50px;
        cursor: pointer;
      }

      i {
        font-size: 13px;
        margin: 0 5px;
      }

      .language-vn {
        cursor: pointer;
        &.active {
          color: orange;
        }
      }

      .language-en {
        &.active {
          color: orange;
        }
        cursor: pointer;
        margin: 0 5px;
      }
    }
  }
}

.home-header-banner {
  background: url("../../assets/bookingcare-cover-4.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 485px;
  display: flex;
  flex-direction: column;

  .content-up {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    height: 65%;
    padding-top: 15px;
    .title1 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      color: white;
    }
    .title2 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      margin-bottom: 15px;
    }
    .search {
      width: fit-content;
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      border-radius: 25px;
      background-color: #f7d800;

      i {
        margin: 0 5px;
      }
      input {
        height: 30px;
        width: 360px;
        background: transparent;
        outline: none;
        border: none;
      }
    }
  }

  .content-down {
    height: 35%;
    display: flex;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );
    justify-content: center;
    .options {
      text-align: center;
      grid-gap: 50px;
      display: flex;
      .option-child {
        .icon-child {
          background-color: white;
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
          margin: 0 auto;

          i {
            color: #49bce2;
            font-size: 20px;
            cursor: pointer;
          }
        }
        .text-child {
          font-size: 17px;
          font-weight: 500;
          &:hover {
            color: #49bce2;
            cursor: pointer;
          }
        }
        width: 100px;
        text-align: center;
      }
    }
  }
}
